<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoHotKey" />
  <package id="microsoft-windows-terminal" />
  <package id="ILSpy" />
  <package id="KeePass" />
  <package id="LinqPad" />
  <package id="notepadplusplus" />
  <package id="SysInternals" />
  <package id="PsGet" />
  <package id="PoshGit" />
  <package id="VisualStudioCode" />
  <package id="WinDirStat" />
</packages>