<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoHotKey" />
  <package id="Cmder" />
  <package id="dropbox" />
  <package id="GoogleChrome" />
  <package id="ILSpy" />
  <package id="KeePass" />
  <package id="LinqPad" />
  <package id="notepadplusplus" />
  <package id="SysInternals" />
  <package id="skype" />
  <package id="VisualStudioCode" />
  <package id="vlc" />
  <package id="WinDirStat" />
</packages>
