<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="skype" />
  <package id="tortoisegit" />
  <package id="vlc" />
  <package id="ILSpy" />
  <package id="VirtualBox" />
  <package id="vagrant" />
  <package id="notepadplusplus" />
  <package id="GoogleChrome" />
  <package id="FreeDownloadManager" />
  <package id="Skype" />
  <package id="onedrive" />
  <package id="dropbox" />
  <package id="CrashPlan" />
  <package id="KeePass" />
  <package id="ProcExp" />
  <package id="ProcMon" />
  <package id="Office365HomePremium" />
  <package id="Audacity" />
  <package id="WinRar" />
  <package id="Gittfs" />
  <package id="PsGet" />
  <package id="PoshGit" />
</packages>
